
  
  /* slider css */
  
  .slider{
    border-radius: 2px;
    width: 90%;
    height: 354px;
    margin: auto;
    margin-top: 80px;
  }
  
  .dot {
    height: 15px;
    width: 15px;
    margin: 40px 6px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    border: 3px solid #623381;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: #83748d;
  }
  
  /* Fading animation */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.9s;
    animation-name: fade;
    animation-duration: 1s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .9} 
    to {opacity: 3}
  }
  
  @keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
  }
  
  .sd{
    height: 450px;
  }
  
  .mainslidercontainer{
    height: 500px;
  }
  
  .mySlides > img{
    border: 1px solid gray;
  }
  
  .promo-title-line {
      border-bottom: 5px solid rgb(11, 11, 11);
      margin: 0px 70px -15px;
      width: 35%;
  }
  
  .promo-title-line2 {
      border-bottom: 5px solid rgb(11, 11, 11);
      margin: 10px 900px 0px;
      width: 35%;
  }
  
  .promo-title, .promo-title h1 {
      text-align: center;
      font-size: 19px;
      color: rgb(43, 43, 43);
      font-weight: 700;
      letter-spacing: 6px;
      text-transform: uppercase;
      margin-top: -15px;
  }
  

  
  #products{
      margin-top: 50px;
      /* height: 380px; */
      display: grid;
      grid-template-columns: 18% 18% 18% 18%;
      grid-gap: 5%;
      justify-content: center;
      padding-left: 10px;
  }
  #products > div > img{
      width: 99%;
  }
  #products > div {
    padding: 5px;  
}

  #products > div:hover {
   box-shadow: 0 2px 5px 2px rgb(0 0 0 / 18%);
   z-index: 1024;
  }

  
 
  
  #products > div > button{
     
     width: 130px;
     height: 40px;
     font-family: 'Roboto', sans-serif;
     font-size: 15px;
     letter-spacing: 2.5px;
     font-weight: 500;
     color: rgb(250, 250, 250);
     background-color: #33B8B0;
     border: none;
     border-radius: 5px;
     box-shadow: inset 0 3px 5px rgb(0 0 0 / 13%);
     transition: all 0.3s ease 0s;
     cursor: pointer;
     outline: none;
     margin-left: 50px;
  }
  #products > div >button:hover {
  box-shadow: 0px 15px 20px rgba(77, 131, 231, 0.4);
  color: #fff;
  transform: translateY(-7px);
  }
 
      #products > div > p{
          padding: 5px;
      }
      body{
        background-color: #EDE7F6;
      }
  
  